<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Encrypt Message</title>
        <script>
            function warn(selectMenu){
                if(selectMenu.value=="dec"){
                    txtLabel.innerHTML="Upload the file.";
                    txt.type="file";
                    txt.value=null;
                    form.enctype="multipart/form-data";
                    fnameDiv.style.visibility="hidden";
                }else{
                    form.enctype=null;
                    txtLabel.innerHTML="Enter your text:";
                    txt.type="text";
                    txt.value=null;
                    fnameDiv.style.visibility="visible";
                }
            }
        </script>
    </head>
    <body>
        <table style="margin: auto; text-align: center;">
            <form method="post" action="/" id="form">
                <tr id="actionDiv">
                    <td><label>Select your action:</label></td>
                    <td>
                        <select name="action" onchange="warn(this)">
                            <option value="enc" selected>Encrypt</option>
                            <option value="dec">Decrypt</option>
                        </select>
                    </td>
                </tr>
                <tr id="txtDiv">
                    <td><label for="txt" id="txtLabel">Enter your text:</label></td>
                    <td><input autofocus name="txt" id="txt" required/></td>
                </tr>
                <tr id="keyDiv">
                    <td><label for="key" id="keyLabel">Enter public Key:</label></td>
                    <td><input name="key" id="key" required/></td>
                </tr>
                <tr id="fnameDiv">
                    <td><label for="fname" id="fnameLabel">Enter a file name:</label></td>
                    <td><input name="fname" id="fname"/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;"><input type="submit"/></td>
                </tr>
            </form>
        </table>
        <div>
            {% if enc %}
                <center>{{txt}}</center>
            {% endif %}
        </div>
    </body>
</html>
