<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Encrypt Message</title>
        <script>
            function warn(selectMenu){
                if(selectMenu.value=="dec")
                    alert("Enter all the values in the matrix as semi-colon(';') seperated values in a sequence row by row.");
            }
        </script>
    </head>
    <body>
        <center>
            <form method="post" action="/">
                <label for="txt">Enter your text:</label>&nbsp;
                <input autofocus name="txt" id="txt" required/>
                <br/><br/>
                <label for="key">Enter public Key:</label>
                <input name="key" id="key" required/>
                <br/><br/>
                <select name="action" onchange="warn(this)">
                    <option value="enc">Encrypt</option>
                    <option value="dec">Decrypt</option>
                </select>
                <input type="submit"/>
            </form>
        </center>
    </body>
</html>